ul{

	list-style: none;
	margin: 0;
	text-align: center;
	background-color: #ccc;
	border-radius: 30px;
	width: 550px;
	height: 66px;
}
li{

	content: '';
	display: inline-block;
	height: 50px;
	width: 50px;
	vertical-align: middle;
	margin-top: 4px;
	border-radius: 50%;
	margin-right: 30px;
}
#b{
	background-color: blue;
	border-radius: 50%;
}
#w{
	background-color: white;
	border-radius: 50%;
}
#bl{
	background-color: black;
	border-radius: 50%;
}
#r{
	background-color: red;
	border-radius: 50%;
}
#y{
	background-color: yellow;
	border-radius: 50%;
}
#g{
	background-color: green;
	border-radius: 50%;
}
#canvas{
	left: 50%;
	top: 90px;
	position: absolute;
	border-color: red;
	border:solid 5px;
margin-left: -250px;


}
#o{
	left: 50%;
	top: 90px;
	position: absolute;
	
	border:solid 5px;
    margin-left: -249px;
    width: 499px;
    height: 499px;
    background: white;
}